$palette-width: 260px

.__no_user_select
  user-select: none


body
  display: flex
  height: 100vh
  flex-direction: column
  overflow: hidden

*, *:after, *:before
  box-sizing: border-box


#app
  display: flex
  flex: 1

.modal-underlay
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
  z-index: 4

.modal-underlay__dialog
  background-color: #fff
  min-width: 300px
  width: 50%
  padding: 16px

.export-component__source
  font-family: Menlo, Consolas, monospace
  font-size: 11px
  min-height: 180px
  width: 100%

.alder-root
  width: 100%
  display: flex
  flex-direction: row

.graph-canvas
  display: flex
  width: calc(100% - #{$palette-width})
  margin-right: 16px
  z-index: 2
  position: relative
  cursor: default
  overflow: scroll

.palette
  width: $palette-width
  z-index: 1
  background-color: #fcfcfc
  border-left: 1px solid #dfdfdf
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2)
  position: fixed
  right: 0
  top: 0

.palette__inner
  padding: 16px 4px 16px 16px
  height: 100vh
  overflow: scroll

.palette__node-group-title
  @extend .__no_user_select

  margin-bottom: 16px
  padding-right: 8px
  padding-bottom: 2px

  text-align: right
  font-weight: 300
  font-size: 14px

  border-bottom: 1px solid #979797
  color: #4a4a4a

.graph-canvas__node
  @extend .__no_user_select

  position: absolute
  border: 1px solid #ddd
  border-radius: 4px

  cursor: grab

  background: #fff
  text-align: center
  line-height: 2.5
  font-weight: lighter
  box-shadow: 0 0 3px #eee

  &.m-selected
    border-color: #3fadf0

.node-inspector
  @extend .__no_user_select

  position: absolute
  border: 1px solid #ddd
  border-radius: 4px

  background: #fff
  padding: 8px
  box-shadow: 0 0 3px #eee
  font-weight: lighter
  font-size: 12px
  z-index: 4

.node-inspector__input-container
  clear: right
  margin-bottom: 8px

  &:last-child
    margin-bottom: 0

.node-inspector__input-title
  display: inline-block
  margin-top: 4px

.node-inspector__input
  width: 80px
  float: right
  height: 20px

.node-inspector__fft-line, .node-inspector__waveform-line
  fill: none
  stroke: #777


.graph-canvas__connections
  flex-grow: 1
  z-index: 3
  pointer-events: none


.graph-canvas__connection
  stroke-width: 2
  stroke: #000
  fill: none
  pointer-events: visibleStroke
  cursor: pointer


.graph-canvas__node-outputs
  position: absolute
  right: 6px
  top: 0
  height: 100%

.graph-canvas__node-inputs
  @extend .graph-canvas__node-outputs

  left: -6px
  right: initial


.graph-canvas__node-slot
  position: absolute
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 100%
  box-shadow: 0 0 3px #eee
  cursor: default

  transition: border-color 0.25s linear

  &.m-connectable
    border-color: #3fadf0

  &.m-not-connectable
    border-color: #f3f3f3


.graph-canvas__node-inspector-toggle
  position: absolute
  bottom: 2px
  left: calc(50% - 8px)
  width: 16px
  height: 8px
  cursor: pointer

  &.m-open
    background-image: inline('../img/inspector_close_button.svg')

  &.m-closed
    background-image: inline('../img/inspector_open_button.svg')

.graph-canvas__selection
  @extend .__no_user_select

  background-color: rgba(128, 128, 128, 0.05)
  border: 1px solid rgba(128, 128, 128, 0.1)
  position: absolute

.alder-root > .graph-canvas__node
  z-index: 4

.prototype-node
  @extend .graph-canvas__node

  position: relative
  margin-bottom: 16px
  margin-right: 16px
  display: inline-block

.state-debug
  position: absolute
  left: 8px
  bottom: 8px
  width: calc(100% - #{$palette-width} - 8px)
  white-space: pre-wrap
  font-family: Menlo, monospace
  font-size: 11px

  display: block


.save-data-debug
  position: absolute
  left: 8px
  bottom: 8px
  white-space: pre-wrap
  font-family: Menlo, monospace
  font-size: 11px

  display: none

.github-fork-ribbon
  background: #333
