.__no_user_select
  user-select: none
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none


body
  margin: 8px
  display: flex
  min-height: calc(100vh - 16px)
  flex-direction: column

*, *:after, *:before
  box-sizing: border-box

  
#app
  display: flex
  flex: 1

  
.alder-root
  width: 100%
  display: flex
  flex-direction: row

  
.graph-canvas
  display: flex
  flex-grow: 1
  margin-right: 16px
  z-index: 2
  position: relative
  cursor: default

  
.palette
  width: 180px
  padding-left: 16px
  z-index: 1

.palette__trash-area
  margin-top: 40px
  background: repeating-linear-gradient(45deg, #f4f4f4, #f4f4f4 30px, #fff 30px, #fff 60px)
  border: 4px solid #ededed
  border-radius: 20px
  height: 150px

  text-align: center
  padding: 45px 10px 0
  font-weight: bold
  color: #ddd
  font-size: 24px

.graph-canvas__node
  @extend .__no_user_select

  position: absolute
  border: 1px solid #ddd
  border-radius: 4px

  cursor: -webkit-grab
  cursor: grab

  background: #fff
  text-align: center
  line-height: 2.5
  font-weight: lighter
  box-shadow: 0 0 3px #eee


.node-inspector
  @extend .__no_user_select

  position: absolute
  border: 1px solid #ddd
  border-radius: 4px

  background: #fff
  padding: 8px
  box-shadow: 0 0 3px #eee
  font-weight: lighter
  font-size: 12px
  z-index: 4

.node-inspector__input-container
  clear: right
  margin-bottom: 8px

  &:last-child
    margin-bottom: 0

.node-inspector__input-title
  display: inline-block
  margin-top: 4px

.node-inspector__input
  width: 80px
  float: right
  height: 20px

.node-inspector__fft-line
  fill: none
  stroke: #777


.graph-canvas__connections
  flex-grow: 1
  z-index: 3
  pointer-events: none


.graph-canvas__connection
  stroke-width: 2
  stroke: #000
  fill: none
  pointer-events: visibleStroke
  cursor: pointer


.graph-canvas__node-outputs
  position: absolute
  right: 6px
  top: 0
  height: 100%

.graph-canvas__node-inputs
  @extend .graph-canvas__node-outputs

  left: -6px
  right: initial


.graph-canvas__node-slot
  position: absolute
  background-color: #fff
  border: 1px solid #ddd
  border-radius: 100%
  box-shadow: 0 0 3px #eee
  cursor: default
  

.graph-canvas__node-inspector-toggle
  position: absolute
  bottom: 2px
  left: calc(50% - 8px)
  cursor: pointer


.prototype-node
  @extend .graph-canvas__node

  position: relative
  margin-bottom: 8px

 
.state-debug
  position: absolute
  left: 8px
  bottom: 8px
  white-space: pre-wrap
  font-family: Menlo, monospace
  font-size: 11px
